.nameData {
  text-transform: capitalize;
}

.inputForm {
  width: 500px;
  margin-left: 10px;
}

#editMedicineButton {
  margin-left: 5px;
}

#startSimulationButton {
  margin-bottom: 5px;
}

#simulationInfo {
  margin-left: 10px;
}

.cantHaveMedicine {
  color: red;
}

.canHaveMedicine {
  color: green;
}

.response {
  margin: 0;
}

#simulationDiv {
  display: flex;
  flex-direction: row;
}

#pharmacistDiv,
#customersMedicinesDiv {
  margin-right: 20px;
}

#response {
  display: flex;
  flex-direction: column-reverse;
}

#upperDiv {
  display: flex;
  flex-direction: row;
}

#searchDiv {
  display: flex;
  width: 800px;
  justify-items: flex-end;
}

#searchLabel,
#responseLabel {
  width: 30%;
  margin-bottom: 0;
  align-self: center;
}

#responseLabel {
  margin-left: 20px;
  width: 30%;
}

#searchLabel {
  width: 25%;
}

#addNewButtonDiv {
  margin-right: 50px;
}

#searchInput {
  width: 40%;
}
