.nameData {
  text-transform: capitalize;
}

.inputForm {
  width: 500px;
  margin-left: 10px;
}

#editMedicineButton {
  margin-left: 5px;
}

#startSimulationButton {
  margin-bottom: 5px;
}

#simulationInfo {
  margin-left: 10px;
}

.cantHaveMedicine {
  color: red;
}

.canHaveMedicine {
  color: green;
}

.response {
  margin: 0;
}

#simulationDiv {
  display: flex;
  flex-direction: row;
}

#pharmacistDiv,
#customersMedicinesDiv {
  margin-right: 20px;
}
